/* 
    Document   : ak_carousel.style
    Created on : Oct 27, 2013, 10:23:45 PM
    Author     : ranieri
    Description:

*/
 
#ak-titles-menu-wrapper {
  text-align: center;
  margin: 20px 0;
}

#ak-titles-menu {
}

#ak-titles-menu ul{
    list-style: none;    
    margin: 0;
    padding: 0;
}

#ak-titles-menu li { 
    display: inline-block;
    margin: 5px 5px;
    padding: 5px;    
    color: black;
    background-color: #f6f6f2;
    font-size: 12px;
    text-transform: lowercase;
    cursor: pointer;
}

#ak-titles-menu li:first-letter {
    text-transform: capitalize;
}

#ak-titles-menu li:hover { 
    color: yellow;
}

div.ak-image {
    float: left;
    padding: 7px 20px 20px 0;
    margin: 0;
}

/*
div.ak-image img {
}
*/

/*
div.ak-title {    
}
*/

div.ak-title h2 {    
    margin-top: 0;
    padding-top: 0;
}


div.ak-content {
    height: inherit;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 10px;
    margin: 0 20px;
    background-color: white;

}

div.ak-content-text { 
    height: 85%;
    overflow: hidden;
    text-overflow: ellipsis;    
}

div.ak-content-more { 
    text-align: right;
    height: 15%;
    padding-top: 10px;
}


div#ak-rows-wrapper {
    position: relative;
    top: 1px;
    left: 0px;
    width: 10000px;
    height:  422px;    
}

div#ak-rows-frame {    
    width: 100%;
    height: 510px;
    overflow: hidden;        
    margin-left: auto;
    margin-right: auto;
}

div.ak-row {
    width: 300px; /* This width doesn't matter. It will be set in JavaScript'*/
    height: 420px;
    float: left;
    display: inline-block;
}

div#ak-arrows-wrapper {
    width: 100%;
    height: 50px;
    margin-top: 20px;   
}

div#ak-arrow-right,
div#ak-arrow-left {
    height: 100%;
    width: 50px;
    cursor: pointer;    
    background-size: contain;
    background-repeat:no-repeat;
}

div#ak-arrow-right:hover,
div#ak-arrow-left:hover {
    height: 90%;
}

div#ak-arrow-left {
    float: left;
    text-align: left;
    margin-left: 30px;
    background-image: url(images/arrow_left.png);
    background-position:left top;
}

div#ak-arrow-right {
    float: right;
    text-align: right;
    margin-right: 30px;
    background-image: url(images/arrow_right.png);
    background-position:right top;
}
